<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Public Equity">
  <!-- <link rel="icon" href="favicon.png"> -->

  <title>Public Equity</title>
  
  <!-- Custom Fonts -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="//s3.amazonaws.com/public-equity/main.css">
  <link rel="stylesheet" href="/assets/styles.css">
</head>

<body id="page-top">
