<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Public Equity">
  <!-- <link rel="icon" href="favicon.png"> -->

  <title>Public Equity</title>
  
  <link rel="stylesheet" href="//s3.amazonaws.com/public-equity/main.css">
  <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>